<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="retrofit" packages="">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!-- Sample from https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
            <PatternLayout>
                <pattern>%d %highlight{%p} %style{%C{1.} [%t] %m}{bold,green}%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
